# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
#	name = Mehmood Deshmukh
#	email = meshde@Mehmoods-MacBook-Pro.local
[user]
	email = meshde.md@gmail.com
	name = meshde
[core]
	excludesFile = ~/.gitignore_global
	autocrlf = input
[alias]
	s = status -s
	ss = status -s
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	one = log --oneline
	sum = show --name-only
	po = push origin
	pm = push meshde
	pu = pull origin
	added = diff --cached
	amend = commit --amend
	back = reset --hard
	c = commit
	last = log -1
	p = add -p
	d = diff --color-words
	co = checkout
	m = commit -m
	a = add
	u = add -u
	cam = commit -am
	add-new = !"git add $(git ls-files -o --exclude-standard)"
	curr = rev-parse --abbrev-ref HEAD
	hd = !"git push -f staging $(git curr):master"
	pou = !"git push origin -u `git curr`"
	pmu = !"git push meshde -u `git curr`"
	scp = am --show-current-patch
	l = !"git log --pretty='%C(Yellow)%h  %C(reset)%ad (%C(Green)%cr%C(reset))%x09 %C(Cyan)%an: %C(reset)%s'"
[push]
	default = simple
[merge]
	tool = vim +Conflicted
[branch]
	sort = -committerdate
[help]
	autocorrect = 20
[mergetool "vim-conflicted"]
	cmd = vim +Conflicted
